.formField {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.title {
    font-size: 37px;
    font-weight: bolder;
    margin-bottom: 45px;
}

.button {
    color: white;
    border: 1px white solid;
}

.button:hover {
    cursor: pointer;
    color: black;
    background-color: white;
}