.formField {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.title {
    font-size: 37px;
    font-weight: bolder;
    margin-bottom: 25px;
}

.description {
    width: 60%;
    text-align: center;
    margin-bottom: 25px;
    font-size: 21px;
}

.boldText {
    font-weight: bolder;
    color: red;
}

.form {
    display: flex;
    flex-direction: column;
    width: 60%;

}

@media (prefers-color-scheme: dark) {
    .button {
        color: white;
        border: 1px white solid;
    }

    .button:hover {
        cursor: pointer;
        color: black;
        background-color: white;
    }
}


.submitButton {
    margin-top: 45px;
}

.link {
    color: blue;
    text-decoration: underline;
}

.button {
    color: black;
    border: 1px black solid;
}

.button:hover {
    cursor: pointer;
    color: white;
    background-color: black;
}