.chartContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
    /* justify-content: space-around;
    align-items: space-around; */
    width: 100%;
    /* border: 1px red solid; */

}

.barContainer {
    border: 1px white solid;
    padding: 20px;
    margin: 25px;
}

.text {
    font-size: 23px;
}

.refreshButton {
    border: 1px black solid;
    width: fit-content;
    align-self: center;
    padding: 10px;
}

.refreshButton:hover {
    background-color: black;
    color: white;
}

@media (prefers-color-scheme: dark) {
    .refreshButton {
        border: 1px white solid;
        width: fit-content;
        align-self: center;
        padding: 10px;
    }

    .refreshButton:hover {
        background-color: white;
        color: black;
    }
}