.chartContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
    /* justify-content: space-around;
    align-items: space-around; */
    width: 100%;
    /* border: 1px red solid; */

}

.barContainer {
    border: 1px white solid;
    padding: 20px;
    margin: 25px;
}

.text {
    font-size: 23px;
}